@media screen and (max-width: 1440px) {
    .imgg__Gaming--modificador:hover{
        transform: (1.2);
    }
    .imgIndex__img--modificador:hover{
        transform: (1.2);
    }
}
@media screen and (max-width: 1024px) {
    body {
        background: url(../img/img_grande5-min.jpg);
        background-repeat: no-repeat;
        background-size: 121%;
        margin: 0;
        background-attachment: fixed;
    }
    #contenedor {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        border: #2e3033;
    }
    .blockT__tituloUno--modificador {
        color: #168aad;
        
    }
    .subFanpage{
        color: #168aad;
    }
    .subtitulo__h2--modificador {
        color: #168aad;
    }
    p{
        color: #3e64e2;
    }
    .pDeContacto{
        color:#ced4da;
    }
    .imgg__Gaming--modificador{
        max-width: 45%;
        max-height: 45%;
        border-radius: 10%;
    }
    .imgg__Gaming--modificador:hover{
        transform: (none);
    }
    .imgIndex__img--modificador:hover{
        transform: (none);
    }
}
@media screen and (max-width: 768px) {
    body {
        background: url(../img/img_grande-min.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
        margin: 0;
        background-attachment: fixed;
    }
    #contenedor {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        border: #2e3033;

    }
    .blockT__tituloUno {
        margin-top: 50%;
        margin-bottom: 50%;
    
    }
    .imgg__Gaming--modificador{
        max-width: 55%;
        max-height: 55%;
        border-radius: 10%;
    }
    .imgg__Gaming--modificador:hover{
        transform: (none);
    }
    .imgIndex__img--modificador:hover{
        transform: (none);
    }
    .blockT__tituloUno--modificador {
        color: #00499c;  
    }
    .subFanpage{
        color: #00499c;
    }
    .subtitulo__h2--modificador {
        color: #00499c;
    }
    p{
        color: #0151ff;
    }
    .pDeContacto{
        color:#ced4da;
    }
    .imgIndex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgg {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    }
    img {
        max-width: 190px;
        max-height: 190px;
        margin: 10px 0 10px 0;
    }
}
@media screen and (max-width: 425px) {
    body {
        background: url(../img/img_mobile3-min.jpeg);
        background-repeat: no-repeat;
        background-size: 108%;
        margin: 0;
        background-attachment: fixed;
    }
    #contenedor {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        border: #2e3033;
    }
    .imgg__Gaming--modificador{
        max-width: 85%;
        max-height: 85%;
        border-radius: 10%;
    }
    #staticBackdrop {
        padding: 0px 0px;
        
    }
    .tabla{
        display: none;
    }
    .blockT__tituloUno--modificador{
        font-size: 3rem;
        color: #168aad;
    }
    .subFanpage{
        color: #168aad;
        font-size: 2rem;
    }
    .subtitulo__h2--modificador{
        font-size: 2rem;
        color: #168aad;
    }
    p{
        font-size: 98%;
        color: #4ccbf1;
    }
    .pDeContacto{
        color:#ced4da;
    }
    .imgIndex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgIndex__img--modificador {
        max-width: 100%;
        max-height: 100%;
    }
    .imgIndex__img--modificador:hover{
        transform: none;
    }
    .imgg {
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    }
    img {
        width: auto;
        height: auto;
        margin: 10px 0 10px 0;
    }
    .imgg__Gaming--modificador:hover{
        transform: none;
    }

}
@media screen and (max-width: 375px){
    body {
        background: url(../img/img_mobile2-min.jpg);
        background-repeat: no-repeat;
        background-size: 122%;
        margin: 0;
        background-attachment: fixed;
    }
    .blockT__tituloUno--modificador{
        color: #168aad;
    }
    .subFanpage{
        color: #168aad;
    }
    .subtitulo__h2--modificador{
        color: #168aad;
    }
    p{
        color:#4ccbf1;
    
    }
    .pDeContacto{
        color:#ced4da;
    }
    .imgg__Gaming--modificador{
        max-width: 85%;
        max-height: 85%;
        border-radius: 10%;
    }
}   
@media screen and (max-width: 320px){
    body {
        background: url(../img/img_mobile2-min.jpg);
        background-repeat: no-repeat;
        background-size: 150%;
        margin: 0;
        background-attachment: fixed;
    }
}