@media screen and (max-width: 1440px) {
    .imgg__Gaming--modificador:hover{
        transform: (1.2);
    }
    .imgIndex__img--modificador:hover{
        transform: (1.2);
    }
}
@media screen and (max-width: 1024px) {
    body {
        background: url(none);
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0;
        background-color: #2e3033;
        background-attachment: fixed;
    }
    #contenedor {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        border: #2e3033;
        background-color: #2e3033;
    }
    .blockT__tituloUno--modificador {
        color: $primary;
        
    }
    .subtitulo__h2--modificador {
        color: $primary;
    }
    p{
        color: $primary;
    }
    .pe{
        color:$primary;
    }
    .imgg__Gaming--modificador:hover{
        transform: (1.2);
    }
    .imgIndex__img--modificador:hover{
        transform: (1.2);
    }
}
@media screen and (max-width: 768px) {
    #contenedor {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        border: #2e3033;
        background-color: #2e3033;
    }
    .imgg__Gaming--modificador:hover{
        transform: (1);
    }
    .imgIndex__img--modificador:hover{
        transform: (1);
    }
    .blockT__tituloUno--modificador {
        color: $primary;
        
    }
    .subtitulo__h2--modificador {
        color: $primary;
    }
    p{
        color: $primary;
    }
    .pe{
        color:$primary;
    }
    .imgIndex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgg {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    }
    img {
        max-width: 190px;
        max-height: 190px;
        margin: 10px 0 10px 0;
    }
}
@media screen and (max-width: 425px) {
    #staticBackdrop {
        padding: 0px 0px;
        
    }
    .tabla{
        display: none;
    }
    .blockT__tituloUno--modificador{
        font-size: 3rem;
        color: $primary;
    }
    .subtitulo__h2--modificador{
        font-size: 2rem;
        color: $primary;
    }
    p{
        font-size: 98%;
        color: $primary;
    }
    .pe{
        color:$primary;
    }
    .imgIndex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgIndex__img--modificador {
        max-width: 100%;
        max-height: 100%;
    }
    .imgIndex__img--modificador:hover{
        transform: none;
    }
    .imgg {
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    }
    img {
        width: auto;
        height: auto;
        margin: 10px 0 10px 0;
    }
    .imgg__Gaming--modificador:hover{
        transform: none;
    }

}

