$primary: black;
$secundary: #2e303342;

%flexs {
    display: flex;
}

%tipografia {
    font-family: "Lexend Deca", sans-serif;
}

%borde {
    border: 1px solid black;
}
//estilo del nav de bootstrap 
.nav-link{
    @extend %tipografia;
}
//estilos del fondo
body {
    background: url(../img/op3-body.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

//titulos principales de cada pagina
.blockT__tituloUno--modificador {
    color: #168aad;
    font-size: 6rem;
    @extend %tipografia;
    text-align: center;
    margin-top: 35%;
}
.blockT__tituloUno {
    margin-bottom: 45%;

}
//estilo de imagnes del index
.imgIndex {
    @extend %flexs;
    justify-content: center;
    justify-content: space-around;
}
.imgIndex__img--modificador {
    max-width: 340px;
    max-height: 340px;
    border-radius: 10%;

}
.imgIndex__img--modificador:hover{
    transform: scale(1.050);

}
//imagen de mercado
.m4a4{
    @extend %flexs;
    justify-content: center;
    justify-content: space-around;
    border-radius: 10%;
}
.m4a4:hover{
    transform: scale(1.050);

}
//estilos de los sbutitulos del index
.subtitulo__h2--modificador {
    color: #168aad;
    font-size: 4rem;
    @extend %tipografia;
    text-align: center;
    margin-top: 3%;
}
.subFanpage{
    color: #168aad;
    font-size: 3rem;
    @extend %tipografia;
    text-align: center;
}
//estilo del texto
p {
    @extend %tipografia;
    font-size: 120%;
    text-align: justify;
    padding: 20px;
    color: #34a0a4;
}
//video de index
.videocs {
    position: relative;
    overflow: hidden;
    padding: 25%;
    margin-top: 35%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
//tabla del index
.tabla {
    @extend %flexs;
    justify-content: center;
    flex-direction: row;
}

.tabla__class--modificador {
    margin-top: 10px;
    margin-bottom: 5px;
    @extend %borde;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    

    th {
        font-size: 150%;
        color: #6096ba;
        @extend %tipografia;
        border: 1px solid whitesmoke ;
        text-align: center;
    }
    td {
        border: 1px solid whitesmoke ;
        @extend %tipografia;
        color: #6096ba;
    }
}
//estilos de las imagenes la pagina Gaming
.imgg {
    @extend %flexs;
    flex-direction: row; 
    align-items: normal;
    justify-content: center; 
    align-items: center;
}

.imgg__Gaming--modificador {
    max-width: 30%;
    max-height: 30%;
    border-radius: 10%;
}
.imgg__Gaming--modificador:hover{
    transform: scale(1.050);
}
//area de contacto
.label{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    @extend %tipografia;
    font-size: 150%;
    color: #ced4da;
}
.pDeContacto{
    color: #ced4da;
}
//estilo de botones del formulario
.boton{
    border-radius: 5%;
    background-color: darkgray;
    color: black;
    padding: 1% 2%;
}
.boton:hover{
    background-color: black;
    color: whitesmoke;
}
//estilos del pie de pagin
.footer{
    background-color: black;
    text-align: center;
    width: 100%;
    margin-bottom: 0%;
    color: whitesmoke;

}
@import "../scss/media";
